<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Init BDD</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div id="canevas">
        <header>
            <h1>Kosei 2</h1>
        </header>

        <div id="section">
            <div class="container">
                BDD init : OK
            </div>
        </div>

        <footer>
            <div>ENSIMAG - Groupe 3</div>
        </footer>
    </div>
</body>
</html>