<div class="container">
    <button id="computePriceAt0">Compute the price at 0</button>
    <table id="resPriceAt0" class="res" cellspacing="0"></table>

    <button id="computePriceNow">Compute the price at this current time</button>
    <table id="resPriceNow" class="res" cellspacing="0"></table>

    <button id="computeHedge">Compute hedge</button>
	<br />
    <button id="getLastHedge">Get last hedge</button>
    <table id="resHedge" class="res" cellspacing="0"></table>

    <!--
    <button id="getGraph">Get Graph</button>
    <div id="resGraph"></div>

    <div>
        <canvas id="graph" height="450" width="600"></canvas>
    </div>
    -->
</div>